* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* AQUI COMIENZA LA PRIMERA PAGINA INDEX.HTML */

/* TODO ESTO CONTIENE EL FONDO DE LOS ICONOS Y EL COLOR */
.negro{
    background-color: rgb(0, 0, 0);
    padding: 20px; /* Ajusta el relleno para espaciar el contenido */
}

.icono-blanco{
    color: white;
    font-size: 24px; /* tamaño del icono */
    margin: 10px; /* Ajusta el margen para espaciar los iconos */
}

/* TODO ESTO CONTIENE EL HEADER (LOGO, INFO ETC) */
.center{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    align-items: center;
    text-align: center;
}


.container {
    background: linear-gradient(to bottom right, #fefff5, #f4e5e5);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    margin-top: 4%;
    margin-bottom: 4%;
}
.titulo-seccion {
    position: relative;
    display: inline-block;
    margin: 0 auto 1rem auto; /* centra el bloque */
}

.titulo-seccion::after {
    content: "";
    position: absolute;
    left: 50%;               /* empieza desde el centro */
    transform: translateX(-50%); /* ajusta para que quede centrada */
    bottom: -5px;
    width: 100%;             /* largo de la línea */
    height: 3px;
    background-color: #db464b;
    border-radius: 2px;
}

.competencias {
    max-width: 600px;
    margin: auto;
}

.competencias h2 {
    text-align: center;
    color: #00d4ff;
    margin-bottom: 30px;
}

.barra {
    margin-bottom: 20px;
  }

.etiqueta {
    margin-bottom: 5px;
    font-weight: bold;
}
 
  /* LA BARRITA */
.progreso {
    background-color: #797070;
    border-radius: 20px; /*Borde de la barra*/
  }

  .progreso-fill {
    height: 100%;
    text-align: right; /*El porciento se pone a la derecha*/
    padding-right: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-radius: 20px;
  }

/* TODO ESTO ES EL RELLENO DE LOS COLORES */
  .html { width: 80%; background-color: #ff5e5e; }
  .css { width: 70%; background-color: #9bafff; }
  .redes { width: 60%; background-color: #6adb6e; }
  .sistemas { width: 50%; background-color: #df6bff; }
  .seguridad { width: 60%; background-color: #e6a748; }
  .inglés{ width: 50%; background-color: #30dbc2; }




/* CONTENIDO DEL SOBRE MI */
.perfil li {
  margin: 12px 0;
}

/* PARA QUE NO SALGA LOS PUNTOS */
.perfil ul {
  list-style: none;
  padding: 0;
}

/* COLOR ICONO ESTRELLA */
.fa-star{
  color: #9f1f6e;
}

/* VIDEO */
iframe {
  margin-top: 3%;
}
 
/* Y AQUI ACABA TODO DEL INDEX.HTML */



/* AQUI COMIENZA TOODO LA PAGINA DE ESTUDIOS */
.tituloestudios{
  margin-top: 6%;
  text-align: center;
  margin-bottom: 6%;
  font-size: 5%;
}
.tituloestudios {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tituloestudios h1 {
  font-size: 30.5em;
  color: #2c3e50;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #3498db;
  display: inline-block;/* Hace que la linea azul ocupe solo la palabra */
  padding-bottom: 10px; /*Que tenga distancia de abajo */
}
.tituloformacion{
  text-align: center;
  margin-bottom: 4%;
}
/* Y AQUI ACABA TODO DEL ESTUDIOS */


/* AQUI COMIENZA TOODO LA PAGINA DE EXPERENCIA LABORAL*/

.custom-carousel {
  max-width: 800px; /* Ancho máximo del carrusel */
  margin: auto; /* Centrado horizontal */
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Oculta bordes  */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.carousel-img {
  height: 400px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Recorta la imagen manteniendo proporción para llenar el contenedor */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(31%) sepia(79%) saturate(5372%) hue-rotate(261deg) brightness(91%) contrast(102%);
}

/* Y AQUI ACABA TODO DE EXPERENCIA LABORAL */


/* AQUI ESTA EL MEDIAQUERY */
@media (max-width: 500px) {
    .negro{
        background-color: rgb(0, 0, 0);
        padding: 20px; /* Ajusta el relleno para espaciar el contenido */
        text-align: center;
    }

  }