<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    I’m a responsible, proactive, and organized person with a strong interest in technology. I’m currently learning to program step by step, as I’d like to expand my knowledge in various programming languages. I enjoy listening to English music, as well as bachata and salsa. In my free time, I focus on improving my digital skills and continuing my learning. Although I prefer to work independently, I can also adapt well to teamwork.
</body>
</html>